@import "../../../config-scss/rem-calc.scss";

$padding: rem-calc(20);

:host {
  .listagem {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem-calc(220), 1fr));
    grid-column-gap: rem-calc(10);

    padding: $padding 0;
  }
}
